## Introduction to Neural Networks - Fraud Detection

Nilson reports that U.S. card fraud (credit, debt, etc) was reportedly 9 billion dollars in 2016 and expected to increase to 12 billion dollars by 2020. For perspective, in 2017 both PayPal's and Mastercard's revenue was only $10.8 billion each.


**Objective:** In this session, given the credit card transactions, we will build a simple neural network (i.e., Multilayer perceptrons) for Fraud Detection using Keras.

This notebooks covers,

1. Creating a Model

2. Adding Layers

3. Activations

4. Optimizers and Loss functions

5. Evaluation

### Dataset Description

The datasets contains transactions made by credit cards in September 2013 by european cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, the original features and more background information about the data is not provided. Features V1, V2, ... V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

Source: https://www.kaggle.com/mlg-ulb/creditcardfraud

## George's Challeng
- What can we do to tackle imbalanced datasets?

In [0]:
!pip install tensorflow==2.0

In [1]:
import tensorflow as tf
print(tf.__version__)

2.2.0

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn import preprocessing
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve, auc
import matplotlib.pyplot as plt
from tensorflow.keras import optimizers

In [0]:
from google.colab import drive

In [4]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
project_path = '/content/drive/My Drive/Colab Notebooks/data/'

In [0]:
dataset_file = project_path + 'creditcard.csv'

In [0]:
data = pd.read_csv(dataset_file)

In [8]:
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [0]:
data = data.drop("Time", axis = 1)

In [0]:
X_data = data.iloc[:, :-1]

## George's Challenge
- What are we doing above?

In [12]:
X_data.shape

(284807, 29)

In [13]:
X_data.head()

         V1        V2        V3        V4  ...       V26       V27       V28  Amount
0 -1.359807 -0.072781  2.536347  1.378155  ... -0.189115  0.133558 -0.021053  149.62
1  1.191857  0.266151  0.166480  0.448154  ...  0.125895 -0.008983  0.014724    2.69
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.139097 -0.055353 -0.059752  378.66
3 -0.966272 -0.185226  1.792993 -0.863291  ... -0.221929  0.062723  0.061458  123.50
4 -1.158233  0.877737  1.548718  0.403034  ...  0.502292  0.219422  0.215153   69.99

[5 rows x 29 columns]

In [0]:
y_data = data.iloc[:, -1]

In [15]:
y_data.shape

(284807,)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.2, random_state = 7)

In [0]:
X_train = preprocessing.normalize(X_train)

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(227845, 29)
(56962, 29)
(227845,)
(56962,)

### Creating a model

Keras model object can be created with Sequential class

At the outset, the model is empty per se. It is completed by adding additional layers and compilation

In [0]:
model = Sequential()

### Adding layers [layers and activations]

Keras layers can be added to the model

Adding layers are like stacking lego blocks one by one

It should be noted that as this is a classification problem, sigmoid layer (softmax for multi-class problems) should be added

## George's Challenge
- What's the difference between binary, multiclass and multilabel classification?

In [0]:
model.add(Dense(64, input_shape = (29,), activation = 'relu'))
model.add(Dense(32, activation = 'tanh'))
model.add(Dense(1, activation = 'sigmoid'))

## George's Challenge
- How to increase the "capacity" of the above network?
- Is the shape values specified a model/algorithm parameter or hyperparameter?

### Model compile [optimizers and loss functions]

Keras model should be "compiled" prior to training

Types of loss (function) and optimizer should be designated

In [0]:
sgd = optimizers.Adam(lr = 0.001)

In [0]:
model.compile(optimizer = sgd, loss = 'binary_crossentropy', metrics=['accuracy'])

### Summary of the model

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                1920
_________________________________________________________________
dense_1 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 33
=================================================================
Total params: 4,033
Trainable params: 4,033
Non-trainable params: 0
_________________________________________________________________

## George's Challenge
- What does `None` mean? 
- How do we make predictions for all the samples with only 1 column `(None, 1)`?

### Training [Forward pass and Backpropagation]

Training the model

In [25]:
model.fit(X_train, y_train.values, batch_size = 700, epochs = 10, verbose = 1)

Epoch 1/10
326/326 [==============================] - 1s 4ms/step - loss: 0.0493 - accuracy: 0.9983
Epoch 2/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 0.9988
Epoch 3/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0057 - accuracy: 0.9989
Epoch 4/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0052 - accuracy: 0.9990
Epoch 5/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0048 - accuracy: 0.9990
Epoch 6/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0046 - accuracy: 0.9990
Epoch 7/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0043 - accuracy: 0.9991
Epoch 8/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0042 - accuracy: 0.9991
Epoch 9/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0040 - accuracy: 0.9992
Epoch 10/10
326/326 [==============================] - 1s 3ms/step - loss: 0.0039 - accuracy: 0.9992

### Evaluation
Keras model can be evaluated with evaluate() function

Evaluation results are contained in a list

In [0]:
X_test = preprocessing.normalize(X_test)

## George's Challenge
- Are we having data leakage?

In [28]:
results = model.evaluate(X_test, y_test.values)

1781/1781 [==============================] - 4s 2ms/step - loss: 0.0038 - accuracy: 0.9992

In [29]:
print(model.metrics_names)
print(results)

['loss', 'accuracy']
[0.003799568396061659, 0.9992451071739197]

## George's Challenge
Is it a good idea to use accuracy to measure performance? Why?

In [32]:
data.Class.value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

### Confusion Matrix

In [33]:
Y_pred_cls = model.predict_classes(X_test, batch_size=200, verbose=0)
print('Accuracy Model1 (Dropout): '+ str(model.evaluate(X_test,y_test.values)[1]))
print('Recall_score: ' + str(recall_score(y_test.values,Y_pred_cls)))
print('Precision_score: ' + str(precision_score(y_test.values, Y_pred_cls)))
print('F-score: ' + str(f1_score(y_test.values,Y_pred_cls)))
confusion_matrix(y_test.values, Y_pred_cls)

WARNING:tensorflow:From <ipython-input-33-672e677043cf>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
1781/1781 [==============================] - 4s 2ms/step - loss: 0.0038 - accuracy: 0.9992
Accuracy Model1 (Dropout): 0.9992451071739197
Recall_score: 0.71
Precision_score: 0.8352941176470589
F-score: 0.7675675675675675

array([[56848,    14],
       [   29,    71]])

#### Feel free to experiment with the model and get to better evaluation metric scores. 
Happy Learning!

## George's Challenge
- How can we improve the model's performance?

## George's Bonus
- Difference Between a Batch and an Epoch in a Neural Network  https://machinelearningmastery.com/difference-between-a-batch-and-an-epoch/

## Useful Links
- https://machinelearningmastery.com/how-to-fix-vanishing-gradients-using-the-rectified-linear-activation-function/
- https://medium.com/@danqing/a-practical-guide-to-relu-b83ca804f1f7

## George's Bonus

- Difference between standardize and normalize is col or row wise
- normalize is to scale to unit norm
- Norm is the magnitue of a vector
- Calculation for l2 norm
- Which is better? You have to try to know!
- https://machinelearningmastery.com/prepare-data-machine-learning-python-scikit-learn/
- https://machinelearningmastery.com/rescaling-data-for-machine-learning-in-python-with-scikit-learn/
- https://machinelearningmastery.com/vector-norms-machine-learning/
- https://stackoverflow.com/questions/48232331/norm-parameters-in-sklearn-preprocessing-normalize
- https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02
- https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-normalization
- https://towardsdatascience.com/preprocessing-with-sklearn-a-complete-and-comprehensive-guide-670cb98fcfb9